html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
    background-color: #101010;
}

#mainCanvas {
    background-color: #000000;

    /* scale up by factor 2 - must be adapted to canvas width */
    width: 800px;

    /* center horizontally */
    display: block;
    margin: 0 auto;
}
